body {
    background-color: rgb(83, 58, 171);
    height: 100vh;
    width: auto;
    margin: 0%;
    color: rgb(255, 255, 255);
}
h1, .boldonse {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.barra {
    background-color: rgb(224, 223, 235);
    top: 0;
    left: 0;
    height: 10vmin;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    margin-top: 0;
    gap: 4%;
    border: 10px solid rgb(34, 38, 52);
    border-radius: 5px;
}
.barra a {
    width: auto;
    height: 100%;
}
.inicio {
    left: 10px;
    width: auto;
    height: 100%;
}
.linksBarra {
    display: flex;
    gap: 7%;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 2.6vmin;
    flex-direction: row;
}
.links {
    color: black;
    background-color: rgb(204, 209, 227);
    border-radius: 1em;
    padding: 1%;
    text-decoration: none;
    flex: 1 1 auto;
}
h1 {
    margin-left: 25px;
}
h2 {
    margin-left: 15px;
}
h2, h3, p, ul, ol, li, .creditos, footer, .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
p {
    margin-left: 6px;
}
footer{
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    padding: 1em;
    font-weight: 300;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: auto;
    height: 2.4vh;
}
.rayman {
    height: auto;
    width: 35vw;
}
.mascote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 15vh;
}
.logosevo {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 2vmin;
}
.logosevo img {
    width: 30vw;
    height: auto;
}
.espacovazio {
    color: rgb(83, 58, 171);;
    margin: 1.7vh;
}
.topicos {
    display: flex;
    flex-direction: column;
    gap: 3.4vh;
}
.divimg {
    display: flex;
    flex-direction: row;
    gap: 0.1vw;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-right: 10vw;
    height: auto;
    width: auto;
    background-color: rgb(159, 190, 215);
    border-radius: 2vmin;
    padding: 1% 6% 1% 1%;
    border: 2vmin solid rgb(34, 38, 52);
}
.divimg p {
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    font-size: 2.5vmin;
    text-align: justify;
    background-color: rgb(92, 90, 122);
    border-radius: 2vmin;
    padding: 2%;
    border: 0.5vmin solid rgb(17, 61, 40);
}
.divimg img {
    width: 30vw;
    height: auto;
    border-radius: 2vmin;
}
