* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #1976d2;
    color: white;
}
header {
    background-color:  #b1d1e8;
    border: solid rgb(16, 23, 49);
    border-width: 0.5em 0.9em 0.5em 0.9em;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 1% 0;
    top: 0;
    z-index: 1000;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    left: 0px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
nav ul li {
    margin: 0 1em;
    flex: 1 1 auto;
    font-size: 1.2em;
    max-width: 121px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    background-color:  #68b1e5;
    padding: 7px 3% 7px 3%;
    flex: 1 1 auto;
    border-radius: 5px;
    max-width: 121px;
    transition: 0.5s
}
nav a:hover, nav a:active {
    color: #261818;
    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    font-size: 1.2em;
    transition-delay: 0s;
    transition-duration: 0.3s;
    background-color:  #75c5ff;
}
nav a:active {
    color: #1900ff;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-style: solid;
    border-color: rgb(34, 38, 52);
    font-size: 1.2em;
}
.logo {
    left: 0px;
    width: 10%;
    height: auto;
}
.logo img {
    width: 90%;
    height: auto;
}
.banner {
    background:url(../img/bannernovo.png) no-repeat center center/cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#bannercontato {
    background:url(../img/bannersuporte.avif) no-repeat center center/cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo {
    z-index: 2 !important;
    color: #ffffff;
    position: relative;
    text-align: center;
}
.banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    background: rgba(0, 0, 0, 0.468);
    box-shadow: #413d3d 0px 0px 5px;
}
section {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    scroll-margin-top: 8.5em;
}
main section{
    border-bottom: #07166d solid 0.6em;
    z-index: 20;
}
#sobre{
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}
.sobre-texto {
    flex: 1;
    padding: 20px;
}
.sobre-texto h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.sobre-texto h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.sobre-texto p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}
.hex-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 15px;
}
.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 1.25%, 9.9% 20.56%, 0% 63.95%, 27.75% 98.75%, 72.25% 98.75%, 100% 63.95%, 90.1% 20.56%);
    position: relative;
}
.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Abaixa o banner para ele não ser escondido*/
@media (min-width: 2168px) {
    .banner {
        margin-top: 9em;
    }
}
@media (min-width: 1527.5px) and (max-width: 2168px) {
    .banner {
        margin-top: 7.4em;
    }
}
@media (min-width: 952px) and (max-width: 1527.5px) {
    .banner {
        margin-top: 7em;
    }
}
@media (min-width: 870px) and (max-width: 952px) {
    .banner {
        margin-top: 6em;
    }
}
@media (min-width: 713px) and (max-width: 870px) {
    .banner {
        margin-top: 12em;
    }
}
@media (max-width: 713px) and (min-width: 501px) {
    .banner {
        margin-top: 11em;
        height: 28vw !important;
    }
    .banner::after {
        height: 30vw;
    }
}
@media (max-width: 500px) {
    .banner {
        margin-top: 9.5em;
    }
    .banner::after {
        height: 39vw;
    }
}
/*---------------------------------*/

/*Arruma a responsibilidade dependendo da altura e largura da tela*/
@media (max-height: 721px) and (min-width: 870px) {
    .banner {
        height: 50vh !important;
        margin-top: 6em !important;
    }
}





/*melhora a responsividade da pagina abaixando o banner*/
@media (max-width: 870px) {
    header .container, .sobre-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    nav ul li {
        flex: 1 1 auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9em;
    }
    nav ul li a {
        padding: 0%;
        background-color: #b1d1e8;
    }
    nav ul li a:hover, nav ul li a:active {
        color: #413d3d;
        border-width: 0;
        box-shadow: 0 0 0px rgb(34, 38, 52);
        background-color:  #b1d1e8;
    }
    main figure {
        width: 80%;
        height: auto;
    }
    .banner{
        background:url(../img/bannermaior.png) no-repeat center center/cover;
    }
    section {
        scroll-margin-top: 200px;
    }
    .modal .modal-content{
        max-height: 70dvh;
        margin-top: 10em;
    } 
    #rayman-game-container *{
        display: none !important;
        visibility: hidden !important;
    }
}
/*Fonte boldonse*/
h1, .boldonse{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*Fonte oswald*/
.sobre-texto h2, h2, h3, p, ul, ol, li, footer,#reset, .oswald, .btn, .close-btn, label {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
h1 {
    margin-left: 25px;
    margin-top: 1%;
}
h2 {
    margin-left: 15px;
    margin-top: 3%;
}
h3 {
    margin-left: 10px;
    margin-top: 2%;
}
p {
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 2%;
    font-size: 1.1em;
    text-align: justify;
}
footer{
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    padding: 2vmax;
    font-weight: 300;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
}
#mascote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 30px;
    padding-top: 0px;
    position: static;
}
.rayman {
    height: auto;
    width: 30vw;
    margin-top: 0em;
    border-radius: 1em;
}
@media screen and (max-width: 863px) {
    .rayman {
        width: 70vw;
    }
    .textray {
        width: 100% !important;
    }
}
.raymandiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    text-align: justify;
}
.textray{
    background-color: #413d3d;
    color: white;
    padding: 0em 1em 1em 1em;
    border-radius: 10px;
    justify-content: center;
    text-align: start;
    width: 90%;
    align-items: center;
}
#franquias img {
    width: 100%;
    height: auto;
}
.fonte {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.6em;
    font-weight: 700;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    margin-left: 6px;
    margin-right: 10px;
    width: 100%;
    display: inline-block;
}
.fonte:hover, .fonte:active {
    color: #19ded4;
    transition: all 0.3s ease-in-out;
}
.titulo {
    font-size: 3vw;
    font-weight: 400;
    font-style: normal;
}

#curiosidades .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
    padding-bottom: 1em;
}
#curiosidades .item {
    cursor: pointer;
    border: inset 0.2em #1a489e;
    border-radius: 1.25em;
    background-color: #1e4db1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#curiosidades .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#curiosidades .item:active{
    transform: scale(0.98);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
#curiosidades .item p {
    font-size: 0.95em;
    color: white;
    text-align: center;
}
#curiosidades .item h3 {
    margin-bottom: 1.3em;
    color: #fff;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#curiosidades img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 1em;
}
.divimg {
    padding: 5%;
    background-color: rgb(62, 58, 58);
    border-radius: 1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 1em;
}
#curiosidades .item-text {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: #413d3d;
    border-radius: 1em;
    margin-bottom: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.modal {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
    margin: auto;
    text-align: justify;
    z-index: 200;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(26, 23, 23, 0.603);
    display: none;
    justify-content: center;
    align-items: center;
}
.card h3 {
    margin-top: 0;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    bottom: 0;
}

.modal:target{
    display: flex;
}
.modal-content {
    background-color: rgb(250, 250, 250);
    overflow-y: auto;
    max-height: 70dvh;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    color: #1976d2;
    margin-top: 9em;
    position: relative;
}
.card{
    max-width: 300px;
}
.close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(212, 32, 32);
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
/*fundo com gradient*/
#sobre, #franquias{
    background: #020024;
    background: linear-gradient(109deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(0, 212, 255, 1) 100%);
}
#curiosidades, #mascote{
    background: #020024;
    background: linear-gradient(90deg,#154da0 0%, rgb(57, 76, 201) 33%, rgb(0, 166, 255) 100%);
}
#curiosidades{
    border-bottom: none;
}

/* Estilo para a seção franquias */
#franquias .container, .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#franquias figure {
    cursor: pointer;
    border: inset 0.2em #1a489e;
    border-radius: 1em;
    background-color: #1e4db1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    padding-top: 9vw;
    width: 100%;
    height: 100%;
    min-height: 200px;
    overflow: hidden;
}

#franquias figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#franquias figure:active  {
    transform: scale(0.98) !important;
    /* Corrigido o erro de sintaxe */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    } 

#franquias figure figcaption {
    color: white;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-align: center;
    background-color: #413d3d;
    border-radius: 1em;
    width: 103%;
}
.modal .fonte {
    color: #353131;
    width: 100%;
    margin-top: 0.9em;
    display: inline-block;
    
}
.modal .fonte:hover, .modal .fonte:active {
    color: #1e92e0;
    transition: all 0.3s ease-in-out;
}
.modal .fonte:visited {
    width: 100%;
    display: inline-block;
}

.modal h3 {
    color: #07233e;
    text-align: center;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000080;
}

.grupo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 1em;
}

.grupo-form input,
.grupo-form select,
.grupo-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  margin-top: 2px;
}

.grupo-form input[type="checkbox"],
.grupo-form input[type="radio"] {
  margin-right: 8px;
  margin-top: 0;
}

.grupo-form label {
  margin-bottom: 5px;
  font-weight: bold;
}
.formulario button{
  border: #352ebe outset;
}
#reset{
  color: #ffffff;
  background-color: #0c5bee;
  padding: 0.8em;
  border-radius: 0.5em;
  border: #463fd6 outset;
  cursor: pointer;
  transition: ease-in 0.2s;
}
#reset:hover{
  background-color: #1a489e;
}
table{
  margin: 0 auto;
  margin-top: 2em;
  background-color: #f5fbff;
  padding: 2em;
  color: #000080;
  border-radius: 0.4em;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}
.tabela{
    width: 100%;
    overflow-x: auto;
}
tr.subtitulos:hover{
    background-color: rgb(154, 233, 233);
}
th,td{
    padding: 0.5em;
}
th{
    font-size: 1em;
}


#raymanGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* não atrapalha scroll e clique no texto */
    z-index: 20;          /* fica acima do texto */
  }
  
  .envio{
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  .envio-sucesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

  }


