* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #1976d2;
    color: white;
}
header {
    background-color:  #bdd0de;
    border: solid rgb(34, 38, 52);
    border-width: 0.5em 0.9em 0.5em 0.9em;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 1% 0;
    top: 0;
    z-index: 1000;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    left: 0px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
nav ul li {
    margin: 0 1em;
    flex: 1 1 auto;
    font-size: 1.2em;
    max-width: 121px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    background-color:  #a6c1d4;
    padding: 7px 3% 7px 3%;
    flex: 1 1 auto;
    border-radius: 5px;
    max-width: 121px;
}
a:hover {
    color: #413d3d;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-style: solid;
    border-color: rgb(34, 38, 52);
    transition-delay: 0s;
    font-size: 1.2em;
    box-shadow: 0 0 5px rgb(34, 38, 52);
}
a:active {
    color: #413d3d;
    border-width: 0.1em 0.1em 0.1em 0.1em;
    border-style: solid;
    border-color: rgb(34, 38, 52);
}
.logo {
    left: 0px;
    width: 10%;
    height: auto;
}
.logo img {
    width: 90%;
    height: auto;
}


/*Abaixa o banner para ele não ser escondido*/
@media (min-width: 952px) {
    body {
        margin-top: calc(2em + 80px);
    }
}
/*melhora a responsividade da pagina abaixando o banner*/
@media (max-width: 843.4px) {
    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    nav ul li {
        margin: 10px 0;
        flex: 1 1 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .logo {
        margin-left: 12px;
    }
    body{
        margin-top: 9.7em;
    }
}
/*diminui mais*/
@media (max-width: 414px) {
    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    nav ul li {
        margin: 10px 0;
        flex: 1 1 auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .logo {
        margin-left: 12px;
    }
    body{
        margin-top: 11.4em;
    }
}


/*Fonte boldonse*/
h1, .boldonse {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*Fonte oswald*/
h2, h3, p, ul, ol, li, footer, .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
h1 {
    margin-left: 25px;
    margin-top: 1%;
}
h2 {
    margin-left: 15px;
    margin-top: 3%;
}
h3 {
    margin-left: 10px;
    margin-top: 2%;
    font-size: 1.22em;
}
p {
    margin-left: 6px;
    margin-top: 2%;
    font-size: 1.1em;
    text-align: justify;
}
footer{
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    padding: 2vmax;
    font-weight: 300;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
}
.banner {
    width: 100%;
    height: auto;
    margin-top: calc(2em + 40px);
}
.banner img {
    width: 100%;
    height: auto;
}
#mascote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    text-align: justify;
}
.rayman {
    height: auto;
    width: 30vw;
    margin-top: 15px;
}
@media screen and (max-width: 863px) {
    .rayman {
        width: 50vw;
    }
    
}
.raymandiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    text-align: justify;
}
#franquias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 1.6em;
    margin-left: 10px;
    margin-right: 10px;
}
#franquias figure{
    width: 40%;
    height: auto;
}
#franquias img {
    width: 100%;
    height: auto;
}